		<%
			# PROJECTS INDEX
		%>

		<h1>Projects</h1>
		<div class="line_15"></div>
	
		<!-- HERE BEGIN THE PROJECTS LOOP-->
		<% @projects.each do |project| %>
			<article class="project">
				<h2><%= link_to project.name, project %></h2>
			
				<%= link_to (image_tag project.mainimg.url(:thumb)), project %>
		
				<div class="project-meta">
					<p><span><%= link_to 'Edit', edit_project_path(project) %></span> | <span><%= link_to 'Destroy', project, confirm: 'Are you sure?', method: :delete %></span></p>
				</div>
		
			</article>
		<% end %>
		<!-- END PROJECTS LOOP -->

		<p><%= link_to 'New Project', new_project_path %></p>
	
	</div> <!-- END #main-wrapper -->
	<div class="clear"></div>	
</div> <!-- END #main -->
